<h1><%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty %></h3>
<h3>University: <%= @doctor.university %></h3>
<h3>Hospital: <%= @doctor.hospital.name %></h3>
<h3>Patients: </h3>
<% @doctor.patients.each do |patient| %>
<div id="patient-<%= patient.id %>">
  <p><%= patient.name %></p>
  <%= button_to "Remove this Patient from Caseload", "/doctor_patients/#{@doctor.id}", params: {patient_id: patient.id}, method: :delete %>
</div>
<% end %>
