<div id="doctor-info">
  <h1>Dr. <%= @doctor.name %> </h1>
  <hr>
  <h3>
    <p>Specaility: <%= @doctor.specialty %></p>
    <p>Specaility: <%= @doctor.university %></p>
    <p>Specaility: <%= @doctor.hospital.name %></p>
  </h3>
</div>
<hr>

<h1>Patients:</h1>
<div id="patients">
  <% @doctor.patients.each do |patient| %>
    <h2><%= patient.name %></h2>
     <p>Age: <%= patient.age %></p>
  <% end %>
</div>