<h1> Name: <%= @doctor.name %> </h1>
<h3> Specialty: <%= @doctor.specialty %> </h3>
<h3> University: <%= @doctor.university %> </h3>
<h3> Hospital: <%= @doctor.hospital.name %> </h3>

<section id="patients">
  <% @doctor.patients.each do |patient| %>
      <%= patient.name %>
      <%= button_to "Remove #{patient.name}", "/doctor_patients", method: :delete, params: {patient_id: patient.id, doctor_id: @doctor.id} %>
  <% end %>
</section>