<div id="doctor">
  <h1>Doctor <%= @doctor.name %></h1>
  <p><strong>Doctors speciality: </strong><%= @doctor.specialty %></p>
  <p><strong>Doctors university: </strong><%= @doctor.university %></p>
</div>

<div id="hospital">
  <h4>Doctor works at hospital: </h4>
  <p><%= @doctor.hospital.name %></p>
</div>

<div id="patients">
  <h4>Doctors patients:</h4>
  <% @doctor.patients.each do |patient| %>
    <p><%= patient.name %>
    <%= button_to "Delete #{patient.name}", "/doctor/#{@doctor.id}/patient/#{patient.id}", method: :delete %></p>
  <% end %>
</div>
