<h1>Doctor Details</h1>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty%></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name%> </p>
<br>
<p>Patients:</p>
<% @doctor.patients.each do |patient| %>
<p><%= patient.name %></p>
<% end %>
