<div class="feature-box">
  <h1>Doctor <%= @doctor.name %> Show Page</h1>
  <ul>
    <p>Specialty: <%= @doctor.specialty %></p>
    <p>University Attended: <%= @doctor.university %> </p>
    <p>Current Hospital: <%= @doctor.hospital.name %></p>
    <p>List of Patients <% @doctor.patients.each do |patient|  %> </p>
                        <p> <%= patient.name %></p>
                        <% end %>
  </ul>

</div>
