<h1>Doctor Show Page</h1>

Name: <%= @doctor.name %><br>
Specialty: <%= @doctor.specialty %><br>
University: <%= @doctor.university %><br>
Current Hospital: <%= @doctor.hospital.name %><br><br>

Current Patients: <% @doctor.patients.each do |patient| %>
<section id="patient-<%= patient.id%>">

<%= patient.name %><br>

</section>

<% end %>