<h1>Doctor Info</h1>
<div id="doc-<%= @doc.id %>" >
<p> Name: <%= @doc.name %> </p>
<p> Specialty: <%=  @doc.specialty %> </p>
<p> University: <%= @doc.university %> </p>

<h2> Hospital: <%= @doc.hospital.name %> </h2>

<h2>Patients</h2>
<% @doc.patients.each do |patient| %>
<p> <%= patient.name %> </p>
<p><%= link_to "Delete #{patient.name}", "/doctors/#{@doc.id}/patients/#{patient.id}/delete", method: "delete" %> <p>
<% end %>
</div>
