<h1><%= @doctor.name %></h1>
<h3>Works at: <%= @doctor.hospital.name %></h3>

<p><strong>Specialty:</strong> <%= @doctor.specialty %></p>
<p><strong>University:</strong> <%= @doctor.university %></p>

<h3>Patients:</h3>
<div id='patients'
  <% @doctor.patients.each do |patient| %>
    <p><%= patient.name %><p>
  <% end %>
</div>
