<h1><%= @doctor.name %></h1>
<h3><%= @doctor.specialty %></h3>
<h3><%= @doctor.university %></h3>

<h3 id="hospital">Hospital: <%= @doctor.hospital.name %></h3>
<h3 id="patients"> Patients: <% @doctor.patients.each do |patient| %>
<div id="<%=patient.name%>" >
    <%= patient.name %> <br>
    <%= button_to "Remove", '/patient_doctor/', method: :delete, params: {patient_id: patient.id, doctor_id: @doctor.id} %>
    </div>
    <% end  %>    
</h3>