<h1><%= "#{@doctor.name} Show Page" %></h1>
<hr>
<p>Hospital: <%= "#{@doctor.hospital.name}" %></p>
<p>Specialty: <%= "#{@doctor.specialty}" %></p>
<p>University: <%= "#{@doctor.university}" %></p>
<% @doctor.patients.each do |patient| %>
  <p>
    <%= patient.name %>
    <%= button_to "Remove #{patient.name}", "/doctors/#{@doctor.id}?name=#{patient.name}",method: :patch %>
  </p>
<% end %>
