<h1>Doctor Details</h1>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty%></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name%> </p>
<br>
<p>Patients:</p>
<% @doctor.patients.each do |patient| %>
<div id="patient-<%= patient.id %>">
  <p><%= patient.name %></p>
  <%= link_to 'Remove Patient', "/doctors/patients/#{patient.id}", method: :patch, local: true %>
</div>
<% end %>
