<h1><%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %> | University: <%= @doctor.university %></p>

<p>Affiliated Hospital: <%= @doctor.hospital.name %></p>

<h3>Current Patients:</h3>
<% @doctor.patients.each do |patient| %>
  <li><%= patient.name %></li>
<% end %>
