<div id="doctor-info">
  <h1><%= @doctor.name %></h1>
  <h2><%= @doctor.specialty %></h2>
  <h2><%= @doctor.university %></h2>
  <h2><%= @doctor.hospital.name %></h2>
</div>

<div id="patients">
  <h1>Patients</h1>
  <% @doctor.patients.each do |patient| %>
    <div id="patient-<%= patient.id %>">
    <h2><%= patient.name %>, age: <%= patient.age.to_s %></h2><%= button_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}/delete", { method: :delete, params: {doctor_id: @doctor.id} } %>
  <% end %>
</div>