<h1>Doctor Info</h1>
<div id="doc-<%= @doc.id %>" >
<p> Name: <%= @doc.name %> </p>
<p> Specialty: <%=  @doc.specialty %> </p>
<p> University: <%= @doc.university %> </p>

<h2> Hospital: <%= @doc.hospital.name %> </h2>

</div>
