<h1>Doctor Info:</h1>
<p><strong>Name:</strong> <%= @doctor.name %></p>
<p><strong>Specialty:</strong> <%= @doctor.specialty %></p>
<p><strong>University:</strong> <%= @doctor.university %></p>
<p><strong>Hospital:</strong><%= @doctor.hospital.name %></p>
<p><strong>Patients:</strong>
<% @doctor.patients.each_with_index do |patient, index| %>
	<% if index == @doctor.patients.count-1 %>
		<%= patient.name %>
	<% else %>
		<%= patient.name %>, 
	<% end %>
<% end %></p>
